<div class="k_form">
  <div class="border">
    <div class="inner_border">
		<div class="sub_title">New Currency</div>
		<div class="k_row">
			<%= render 'form' %>
		</div>
    </div>
  </div>
</div>
