<!DOCTYPE HTML>

<html>
<head>
<title>Test</title>

</head>
<body>
	<div class="workarea">
		<div class="thread">
			<div class="title">Controls</div>
			<div class="k_form">
				<div class="border">
					<div class="inner_border">
						<div class="sub_title">New Shopping</div>
						<div class="k_row" style="text-align: right;">
							<label style="font-size: 1.2em; display: inline-block;">Date</label>
							<input type="Date" value="2014-01-30"></input>
						</div>
						
						<div class="k_row" style="text-align: left;">
							<label style="font-size: 1.4em; display: inline-block;">Total</label>
							<label style="font-size: 1.4em; display: inline-block; padding-right: 30px;">210</label>
						</div>

						<div class="k_row">
							<table>
								<thead>
									<th>Item</th>
									<th>Quantity</th>
									<th>Unit</th>
									<th>Category</th>
									<th>Rate</th>
									<th>Amount</th>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="text" id="category" name="category">
										</td>
										<td><input type="text" id="category" name="category"></td>
										<td>
											<div class="k_select">
												<select id="parent_category" name="parent_category">
													<option class="k_option">None</option>
													<option class="k_option">Kitchen</option>
													<option class="k_option">Personal</option>
													<option class="k_option">Computer</option>
												</select>
											</div>
										</td>
										<td>
											<div class="k_select">
												<select id="parent_category" name="parent_category">
													<option class="k_option">None</option>
													<option class="k_option">Kitchen</option>
													<option class="k_option">Personal</option>
													<option class="k_option">Computer</option>
												</select>
											</div>
										</td>
										<td>
											<input type="text" id="category" name="category">
										</td>
										<td>
											<input type="text" id="category" name="category">
										</td>
									</tr>
									<tr>
										<td>
											<input type="text" id="category" name="category">
										</td>
										<td><input type="text" id="category" name="category"></td>
										<td>
											<div class="k_select">
												<select id="parent_category" name="parent_category">
													<option class="k_option">None</option>
													<option class="k_option">Kitchen</option>
													<option class="k_option">Personal</option>
													<option class="k_option">Computer</option>
												</select>
											</div>
										</td>
										<td>
											<div class="k_select">
												<select id="parent_category" name="parent_category">
													<option class="k_option">None</option>
													<option class="k_option">Kitchen</option>
													<option class="k_option">Personal</option>
													<option class="k_option">Computer</option>
												</select>
											</div>
										</td>
										<td>
											<input type="text" id="category" name="category">
										</td>
										<td>
											<input type="text" id="category" name="category">
										</td>
									</tr>
									<tr>
										<td>
											<input type="text" id="category" name="category">
										</td>
										<td><input type="text" id="category" name="category"></td>
										<td>
											<div class="k_select">
												<select id="parent_category" name="parent_category">
													<option class="k_option">None</option>
													<option class="k_option">Kitchen</option>
													<option class="k_option">Personal</option>
													<option class="k_option">Computer</option>
												</select>
											</div>
										</td>
										<td>
											<div class="k_select">
												<select id="parent_category" name="parent_category">
													<option class="k_option">None</option>
													<option class="k_option">Kitchen</option>
													<option class="k_option">Personal</option>
													<option class="k_option">Computer</option>
												</select>
											</div>
										</td>
										<td>
											<input type="text" id="category" name="category">
										</td>
										<td>
											<input type="text" id="category" name="category">
										</td>
									</tr>																		
								</tbody>
							</table>
						</div>
					<label>Merchant Name</label>
					<input type="text" id="category" name="category">
					<label>Account</label>
											<div class="k_select">
												<select id="parent_category" name="parent_category">
													<option class="k_option">None</option>
													<option class="k_option">Kitchen</option>
													<option class="k_option">Personal</option>
													<option class="k_option">Computer</option>
												</select>
											</div>
					<label>Bill Number</label>
					<input type="text" id="category" name="category">
						</div>
						<div class="button_bar">
							<button val="Add" class="k_button" style="background-color: rgb(80, 1, 1) !important; color: rgb(175,175,175)">Cancel</button>
							<button val="Add" class="k_button" style="background-color: rgb(31, 54, 32) !important;">Add Shopping</button>
						</div>
					</div>
				</div>
			</div>
			<div class="k_form">
				<div class="border">
					<div class="inner_border">
						<div class="sub_title">Add Category</div>
						<label for"category">Category Name</label>
						<input type="text" id="category" name="category"></input>
						<label for="parent_category">Parent Category</label>
						<div class="k_select">
							<select id="parent_category" name="parent_category">
								<option class="k_option">None</option>
								<option class="k_option">Kitchen</option>
								<option class="k_option">Personal</option>
								<option class="k_option">Computer</option>
							</select>
						</div>
						<div class="button_bar">
							<button val="Add" class="k_button" style="background-color: rgb(80, 1, 1) !important; color: rgb(175,175,175)">Cancel</button>
							<button val="Add" class="k_button" style="background-color: rgb(31, 54, 32) !important;">Add Category</button>
						</div>
					</div>
				</div>
			<div class="k_form">
				<div class="border">
					<div class="inner_border">
						<div class="sub_title">New Shopping</div>
						<div class="k_row" style="text-align: right;">
							<label style="font-size: 1.2em; display: inline-block;">Date</label>
							<input type="Date" value="2014-01-30"></input>
						</div>
						
						<div class="k_row" style="text-align: left;">
							<label style="font-size: 1.4em; display: inline-block;">Total</label>
							<label style="font-size: 1.4em; display: inline-block; padding-right: 30px;">210</label>
						</div>

						<div class="k_row">
							<table>
								<thead>
									<th>Item</th>
									<th>Quantity</th>
									<th>Unit</th>
									<th>Category</th>
									<th>Rate</th>
									<th>Amount</th>
								</thead>
								<tbody>
									<tr>
										<td>Milk</td>
										<td>2</td>
										<td>liters</td>
										<td>Grocery</td>
										<td>35</td>
										<td>70</td>
									</tr>
									<tr>
										<td>Milk</td>
										<td>2</td>
										<td>liters</td>
										<td>Grocery</td>
										<td>35</td>
										<td>70</td>
									</tr>
									<tr>
										<td>Milk</td>
										<td>2</td>
										<td>liters</td>
										<td>Grocery</td>
										<td>35</td>
										<td>70</td>
									</tr>																		
								</tbody>
							</table>
						</div>

						</div>
						<div class="button_bar">
							<button val="Add" class="k_button" style="background-color: rgb(80, 1, 1) !important; color: rgb(175,175,175)">Cancel</button>
							<button val="Add" class="k_button" style="background-color: rgb(31, 54, 32) !important;">Add Category</button>
						</div>
					</div>
				</div>
			</div>
			<div class="k_form">
				<div class="border">
					<div class="inner_border">
						<div class="sub_title">Add Category</div>
						<label for"category">Category Name</label>
						<input type="text" id="category" name="category"></input>
						<label for="parent_category">Parent Category</label>
						<div class="k_select">
							<select id="parent_category" name="parent_category">
								<option class="k_option">None</option>
								<option class="k_option">Kitchen</option>
								<option class="k_option">Personal</option>
								<option class="k_option">Computer</option>
							</select>
						</div>
						<div class="button_bar">
							<button val="Add" class="k_button" style="background-color: rgb(80, 1, 1) !important; color: rgb(175,175,175)">Cancel</button>
							<button val="Add" class="k_button" style="background-color: rgb(31, 54, 32) !important;">Add Category</button>
						</div>
					</div>
				</div>
				<br/>

				<div class="accounts_overview">
				<div class="sub_title">Accounts</div>
				<div class="k_table">
				<div class="k_row">
				<div class="account_data">
				<span class="account_name">Salary Account</span>							
				<span class="account_amount">2,30,423.98</span>
				</div>						
				</div>
				<div class="k_row">
				<div class="account_data">
				<span class="account_name">SBI Saving</span>							
				<span class="account_amount">25,251.65</span>
				</div>						
				</div>
				<div class="k_row">
				<div class="account_data">
				<span class="account_name">Salary NRE</span>							
				<span class="account_amount">230.98</span>
				</div>						
				</div>
				<div class="k_row">
				<div class="account_data">
				<span class="account_name">Salary Joint</span>							
				<span class="account_amount">1,32,411.98</span>
				</div>						
				</div>					
				<div class="k_row">
				<div class="account_data">
				<span class="account_name">AIB Bank</span>							
				<span class="account_amount">9333.98</span>
				</div>						
				</div>
				<div class="k_row">
				<div class="account_data">
				<span class="account_name">Credits</span>							
				<span class="account_amount">2,40,415.98</span>
				</div>						
				</div>
				<div class="k_row">

				</div>
				<div class="k_row">
				<div class="account_data">
				<span class="account_name">Total</span>							
				<span class="account_amount">6,55,254.33</span>
				</div>						
				</div>															
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>